
<button type="button" class="btn btn-primary position-relative">
  Cart
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{cartCount}}
  </span>
</button>
<div class="container">
<input type="text" [(ngModel)] = "searchString" (input)="handleSearch()">
    @if(carItems){
        @for (item of carItems; track $index) {
            <p>{{item.id}} - {{item.count}}</p>
        }
    }
  </div>


  @if(!loading){
      <div class="fade-in"> 

    @for (item of products; track $index) {
        <app-product (addToCart)="handleAddToCart($event)" [product]="item"></app-product>
    }
  </div>
}
@else {
    <div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
}